!!! 5
html
  head
    title CrisisCamps
    meta(charset='utf-8')

    link(rel='stylesheet', href='/bower_components/leaflet-dist/leaflet.css')
    link(rel='stylesheet', href='screen.css')

    script(src='/bower_components/leaflet-dist/leaflet.js')
    script(src='/bower_components/zepto/zepto.js')
    script(src='app.js')
  body
