!!! 5
html
  head
    title CrisisCamps
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=Edge')

    link(rel='stylesheet', href='/bower_components/leaflet-dist/leaflet.css')
    link(rel='stylesheet', href='/bower_components/leaflet-control-osm-geocoder/Control.OSMGeocoder.css')
    link(rel='stylesheet', href='/screen.css')

    script(src='https://login.persona.org/include.js')
    script(src='/bower_components/lodash/dist/lodash.js')
    script(src='/bower_components/backbone/backbone.js')
    script(src='/bower_components/backbone-relational/backbone-relational.js')
    script(src='/bower_components/leaflet-dist/leaflet.js')
    script(src='/bower_components/zepto/zepto.js')
    script(src='/bower_components/js-md5/js/md5.js')
    script(src='/bower_components/handlebars/handlebars.runtime.js')
    script(src='/templates.js')
    script(src='/app.js')
  body
